<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bufferloader.js') }}"></script>
    <script src="{{ url_for('static', filename='js/id3-minimized.js') }}"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        
    <script src="https://unpkg.com/siriwave/dist/siriwave.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="css/index2.css"/>
    
    <title>ORACIONES</title>
  </head>

  <body>
    <div class="sidebar text-center">
      <div class="text-center" style="padding-top: 10px; padding-bottom: 20px; background-color: #65472B; vertical-align:middle; vertical-align:middle;" >
        <img   src="images/categorias.png" width="200px" height="50px"> 
      </div>
      {% for categoria in categorias %}
     
        <button
        style="color: white;"
        class="{% if loop.index is divisibleby 2 %}btn-salto{% else %}btn-salto2{% endif %}"
        type="submit"
        value="{{ categoria['ID_Categoria'] }}"
      >
          {{ categoria['Categoria'] }}
        </button>
   
      {% endfor %}
    </div>

    <div class="main-content">

      <div class="cajaBotones">

        <div  class="container text-center">
          <div class="row ">
            <div class="col-12">
  
              <div id="cajaInicial" >
                <img src="images/palabras.png" class="button-containerCopy"   height="100%"  >
                <p class="overlay-text">Elije una categoría</p>
              </div>
              
              <div class="button-container"></div>
             
            </div>
          </div>
        </div>

      </div>

    
      

      <div class="etiquetaOracion">
        <div class="row contenedor-textarea invisible" id="bloqueOracion">
          <div class="col-12">
             <div class="mi-boton2" id="oracion-formada">- Texto aquí... - </div>
          </div>
        </div>
      </div>
     
     

      <div class="row ">
        <div class="col-12">
          <div class="action-buttons">

            <div>

              <div class="etiqueta-diagonal4" >
                <img src="images/textomenu.png" width="200" height="60">
              </div>
              
              <div class="etiqueta-diagonal" id="btnAtras" onclick="fcnAtras()" >
                <img class="boton-reducido" src="images/btnMain.png" width="100" height="100" >
              </div>
  

            </div>

         
            <div id="bloqueBorrar" class="invisible">
              <div class="nube-consejo">⬅️ Click para escuchar</div>
              <button class="btn-salto3 etiqueta-diagonal6">
                <img class="boton-reducido" src="images/hablar.png" width="100" height="100" >
              </button>
            </div>


            <div id="bloqueHablar" class="invisible">
              <div class="nube-consejo2">⬅️ Click para borrar oración</div>
              <div class="etiqueta-diagonal5"  onclick="fcnBorrar()">
                <img class="boton-reducido" src="images/borrar.png" width="100" height="100" >
              </div>
            </div>

          

          </div>
        </div>
      </div>

    </div>

  </body>


<script src="js/index2.js"></script>
 
</html>
